@use "../vars";

.homeContainer{
    margin-top: 120px;
    padding: 0 40px;
}

.homeWrapper{
    padding: 0 50px;
}

.homeSection{
    h1{
        font-size: 1.35rem;
        margin: 10px 0;
    }
    ul{
        display: flex;
        justify-content: space-between;
    }
}

.homeMainContainer{
    display: flex;
    .suggestionsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 40px;
        flex-grow: 1;
    }
}

@media (min-width: vars.$medium) {
    .homeWrapper{
        max-width: 900px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: vars.$extra-large) {
    .homeWrapper{
        max-width: 1270px;
    }
}