@use "../vars";

.HomeMainCardContainer {
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  width: 640px;
  height: 500px;
}
.cardInfos {
  background-color: #242424ab;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.4rem;
    color: vars.$primary;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2rem;
  }
}
