@use "../vars";
.leftBarContainer {
    background-color: vars.$dark-1;
    position: fixed;
    top: 102px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftBarWrapper {
    display: flex;
    flex-direction: column;
}

.iconButton {
    display: flex;
    align-items: center;
    padding: 15px 0;
    span {
        margin: 0 10px 0 0;
    }
    svg {
        transform: scale(1.1);
        margin: 0 10px;
    }
    &:hover {
        color: vars.$primary;
        cursor: pointer;
    }
}
