@use "../vars";

.active {
  color: vars.$primary;
}

.songBarContainer {
  height: 96px;
  background-color: vars.$dark-1;
  main {
    max-width: 1668px;
    margin: auto;
    height: 100%;
    padding: 0 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.songInfo {
  display: flex;
  align-items: center;
  img {
    height: 49px;
    margin-right: 10px;
  }
  > div {
    display: flex;
    flex-direction: column;
    height: 100%;

    h3 {
      color: vars.$primary;
    }
    h4 {
      font-size: 0.9rem;
    }
  }
}

.centerControlls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5px 50px;

  .iconButton{
    margin: 0 20px;
    svg{
      transform: scale(1.4);
    }
  }
}

.songProgress {
  width: 100%;
  display: flex;
  span {
    font: 400 12px Ubuntu, sans-serif;
  }
}

.slider {
  appearance: none;
  height: 6px;
  flex-grow: 1;
  width: 100%;
  &::-webkit-slider-thumb {
    appearance: none;
    visibility: hidden;
    height: 18px;
    width: 18px;
    border-color: vars.$white;
    cursor: pointer;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.1s linear;
  }

  &::-moz-range-thumb {
    appearance: none;
    visibility: hidden;
    height: 18px;
    width: 18px;
    border-color: vars.$white;
    cursor: pointer;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.1s linear;
  }

  &::-webkit-slider-runnable-track {
    background-color: vars.$primary;
    border-radius: 10px;
    height: 11px;
  }

  &::-moz-range-progress {
    background-color: vars.$primary;
    height: 6px;
  }

  &:hover {
    cursor: pointer;
    &::-moz-range-thumb {
      visibility: visible;
      opacity: 1;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      border-color: vars.$white;
      cursor: pointer;
    }
    &::-webkit-slider-thumb {
      visibility: visible;
      position: relative;
      top: -4px;
      opacity: 1;
      background-color: vars.$white;
      border-radius: 50%;
      border-color: vars.$white;
      cursor: pointer;
    }
  }
}

.iconButton {
  display: flex;
  align-items: center;
  &:hover {
    color: vars.$primary;
    cursor: pointer;
  }
}

.rightControlls {
  display: flex;
  align-items: center;
  .slider {
    margin-right: 7px;
    margin-left: 2px;
  }
}

@media (max-width: vars.$large) {
  .songInfo {
    img {
      height: 39px;
    }
  }
}

@media (max-width: vars.$medium) {
  .songInfo {
    img {
      height: 35px;
    }
  }
}
