//Colors
$dark-1: #111111;
$dark-2: #242424;
$dark-3: #191919;
$dark-4: #363636;
$primary: #d61c54;
$seconday: #f86776;
$cream: #f9f3eb;
$white: #fff;

//Screens size
$extra-large: 1650px;
$large: 1366px;
$medium: 1024px;
$small: 720px;
